body {
	background-color: #87ffef;
}
div.blue-nav {
	padding: 5px;
	border-radius : 20px;
	background-color: #290137!important;
	color: #ffffff !important;
}

div.blue-jumbo {
	background-color: #290137!important;
	border-radius: 15px;
}

img.blue-img {
	border-radius: 15px;
}